* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: cursive;
    
}

h1 {
    font-family: cursive;
    display: flex;
    justify-content: center;
}

h6 {
    display: grid;
    justify-content: end;
    text-align: end;
    text-overflow: unset;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: cursive;
    padding: 12px 20px;
    cursor: pointer;
    font-size: larger;
    font-size: x-large;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    padding: 60px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
