body {
  margin: 0;
  padding: 0;
  background-image: url("diabo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

h1 {
  color: #ab1111;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 5px;
}

h5 {
  color: white;
  margin-top: -10px;
  margin-bottom: 20px;
}

button {
  background-color: #97111b;
  color: #ffffff;
  transition: 0.2s;
  border: 4px solid #000000;
  padding: 12px 25px;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #c23636;
  transform: scale(1.05);
}