* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131314;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.credits-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

.credits {
  position: absolute;
  bottom: -100%;
  width: 100%;
  text-align: center;
  animation: scrollUp 30s linear infinite;
  padding: 20px;
}

@keyframes scrollUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 100%;
  }
}

.credits p {
  margin: 15px 0;
  font-size: 1.5em;
}

.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  font-size: 1.2em;
  background-color: #97111b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #c23636;
}