* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #313647;
    align-items: center;
    justify-content: center;
}

.background-container {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  display: flex;
}

.background-image img {
  width: 20vw;
  height: 100vh;
  object-fit: cover;
}

button {
  padding: 12px 25px;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-weight: bold;
  cursor: pointer;
  background-color: #3b3b3b;
  color: white;
  transition: 0.2s;
}

button:hover {
  background-color: #5a5a5a;
  transform: scale(1.05);
}

h1 {
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding: 40px 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px black;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 15px; 
    width: 500px; 
    margin: auto; 
}

@media (max-width: 600px) {
  .background-image img {
    width: 100vw;
    height: 20vh;
  }

  .background-container {
    flex-direction: column;
  }
}

.btn-top-left {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #67a4a4;
  color: #000;
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
  animation: none;
}