* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #313647;
}

/* Fundo com imagens */
.background-container {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  display: flex;
}

.background-image img {
  width: 20vw;
  height: 100vh;
  object-fit: cover;
}

button {
  padding: 12px 25px;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-weight: bold;
  cursor: pointer;
  background-color: #3b3b3b;
  color: white;
  transition: 0.2s;
}

button:hover {
  background-color: #5a5a5a;
  transform: scale(1.05);
}

h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}

/* RESPONSIVIDADE EXTRA para celular/tablet */
@media (max-width: 600px) {
  .background-image img {
    width: 100vw;
    height: 20vh;
  }

  .background-container {
    flex-direction: column;
  }
}